html,
body,
._event-wrapper,
.item {
  height: 100%;
  width: 100%;
}
body {
  background-color: black;
}
._event-wrapper .item ._photo {
  height: 100%;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
}
._event-wrapper .item ._photo.ng-enter {
  animation: imageAnimation 10s linear infinite 0s;
}
@keyframes imageAnimation {
  0% {
    opacity: 0;
    animation-timing-function: ease-in;
  }
  25% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    animation-timing-function: ease-out;
    transform: scale(1.1);
  }
}
@keyframes titleAnimation {
  0% {
    opacity: 0;
  }
  8% {
    opacity: 1;
  }
  17% {
    opacity: 1;
  }
  19% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
