html,
body,
._event-wrapper {
  width: 100%;
  height: 100%;
}

body {
  background-color: black;
  color: white;

  &.page-node {
    ._event-wrapper {
      background-color: black;
      color: white;
      height: 700px;
      overflow: hidden;
    }
  }
}

._event-wrapper {

    position: relative;

    ._loading {
      opacity: 1;
      transition:1s linear all;

      &.ng-hide {
        opacity: 0;
        transition:1s linear all;
      }
    }
}

.-left {
  text-align: left;
}

.-right {
  text-align: right;
}

// Single theme

._event-wrapper.-single {

  ._event {
    animation: fadeInAnimation 3s linear;

    &.ng-hide {
      opacity: 0;
    }
  }

  ._header {
    display: flex;
    justify-content: space-between;
    position: absolute;
    align-items: center;
    top: 30px;
    width: 100%;
    padding: 0 30px;
    box-sizing: border-box;
    z-index: 2;
    font-size: 2.5em;
  }

  ._title,
  ._hashtag {
    text-shadow: 0px 0px 15px rgba(0, 0, 0, 1);
  }

  ._photo-wrapper {

    ._photo {
      height: 100%;
      position: absolute;
      transform: translateZ(0);
      top: 0;
      left: 0;
      right: 0;
      margin: 0 auto;
      transition:1.5s linear all;
      opacity:1;
      -webkit-box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.5);
      -moz-box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.5);
      box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.5);

      &.ng-hide {
        opacity: 0;
      }
    }

    ._photo-background {
      position: absolute;
      transform: translateZ(0);
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      -webkit-filter: blur(15px) grayscale(0.3);
      -moz-filter: blur(15px);
      -o-filter: blur(15px);
      -ms-filter: blur(15px);
      filter: blur(15px);
      opacity: 0.5;
      transition:1.5s linear all;
      transform: scale(1.1);
      animation: scaleAnimation 10s linear;

      &.ng-hide {
        opacity: 0;
      }
    }
  }

  ._photo_details {
    display: flex;
    justify-content: space-between;
    position: absolute;
    align-items: center;
    transform: translateZ(0);
    bottom: 30px;
    width: 100%;
    height: 100px;
    padding: 0 30px;
    box-sizing: border-box;
    transition: 1s cubic-bezier(0, 0, 0.1, 1) all;
    transition-delay: 0.5s;
    text-align: right;

    &.ng-hide {
      transition: 0.5s linear all;
      bottom: -120px;
    }

    ._avatar {
      width: 100px;
      border-radius: 50px;
    }

    ._caption {
      width: 200px;
      word-wrap: break-word;
    }
  }
}

// Double theme

._event-wrapper.-double {

  ._header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
    z-index: 2;
    font-size: 2.5em;
  }

  ._title,
  ._hashtag {
    text-shadow: 0px 0px 15px rgba(0, 0, 0, 1);
  }

  ._photos {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;

    ._photo-wrapper {
      display: flex;
      flex-direction: column;
      position: relative;
      width: 640px;
      height: 684px;

      ._photo-container {
        position: absolute;
        top: 0;
        left: 0;
        transition: 1.5s cubic-bezier(0, 0, 0.1, 1) all;
        opacity: 1;
        width: 640px;
        transform: translateZ(0);

        &.ng-hide {
          opacity: 0;
        }

        ._photo {
          border-radius: 10px;
          width: 640px;
        }

        ._photo-details {
          display: flex;
          align-items: center;
          padding: 10px 20px;
          position: relative;
          top: -90px;
          margin-bottom: -90px;
          background-color: rgba(0, 0, 0, 0.5);

          ._avatar {
            height: 60px;
            width: 60px;
            border-radius: 60px;
            border: 5px solid white;
          }
          ._caption {
            padding: 0 20px;
          }
        }
      }

      &.-recent {
        ._photo-details {
          flex-direction: row-reverse;
        }
      }

      ._subheading {
        position: absolute;
        bottom: 0;
        padding: 10px;
        font-size: 1.5em;
        width: 100%;
        box-sizing: border-box;
      }
    }
  }
}

@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px) {
  ._header {
    display: block;
    font-size: 1.5em;
    position: relative;
  }
  ._photo {
    width: 100%;
    height: auto;
    position: relative;
  }
  ._photo-background {
    display: none !important;
  }
  ._photo_details {
    display: block;
    position: relative;
  }
}

// ANIMATIONS

@keyframes scaleAnimation {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOutAnimation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

// LOADING ANIMATION

._loading {
  position: absolute;
  top: 50%;
  left: 50%;

  .bullet {
    position: absolute;
    padding: 5px;
    border-radius: 50%;
    background: #65a3ff;
    -webkit-animation: loadingAnimIn 1s ease-in-out 0s infinite;
    animation: loadingAnimIn 1s ease-in-out 0s infinite;

    &:nth-child(1) {
      animation-delay: 0s;
    }
    &:nth-child(2) {
      animation-delay: 0.15s;
    }
    &:nth-child(3) {
      animation-delay: 0.3s;
    }
    &:nth-child(4) {
      animation-delay: 0.45s;
    }
  }
}

@keyframes loadingAnimIn {
  0% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
    opacity: 0;
  }
}